// Place all the styles related to the RegisteredApplications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new_app {
	margin-top: 30px;
}

.index_list {

	margin-top: 20px;
}

.event_visual {
	margin-top: 20px;

}
